<div id="explorer-view">
  <div class="stats-row" id="explorer-stats"></div>
  <div id="explorer-hierarchy">
    <div class="tpl-head" style="font-size:9px;margin-bottom:6px">🏢 ISA-88 Equipment Hierarchy</div>
    <div id="tpl-enterprise" class="tpl-mount"></div>
    <div id="tpl-site" class="tpl-mount"></div>
    <div id="tpl-area" class="tpl-mount"></div>
    <div id="tpl-cell" class="tpl-mount"></div>
    <div id="tpl-unit" class="tpl-mount"></div>
    <div id="tpl-em" class="tpl-mount"></div>
    <div id="tpl-cm" class="tpl-mount"></div>
  </div>
  <div id="explorer-udts"></div>
</div>
